$zIndex: 999;
$bgColor: rgba(23, 49, 71, 0.8);
$textColor: #d4d2d2;
$xsPadding: 4px;
$smPadding: 8px;
$middlePadding: 16px;
$borderRadius: 4px;
$width: 100;
$left: 20;
$top: 20;
$fontSize: 14px;
$itemHoverBgColor: rgba(40, 116, 179, 0.8);
.toolbar-container {
  //   width: #{$width}px;
  z-index: $zIndex;
  position: absolute;
  left: #{$left}px;
  top: #{$top}px;
  border: 1px solid $textColor;
  background: $bgColor;
  color: $textColor;
  cursor: pointer;
  border-radius: $borderRadius;
  &:hover {
    .toolbar-items {
      border-bottom: none;
    }
  }
  .toolbar-btn {
    padding: $smPadding $middlePadding;
    font-size: $fontSize;
    text-align: center;
    display: flex;
  }
  .toolbar-items-container {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  .toolbar-items {
    transform: translateX(-1px);
    width: 100%;
    border: 1px solid $textColor;
    background-color: $bgColor;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: $zIndex;
    .toolbar-item {
      color: $textColor;
      text-decoration: none;
      display: flex;
      padding: 6px $middlePadding;
      font-size: $fontSize;
      text-align: center;
      &:hover {
        background-color: $itemHoverBgColor;
      }
    }
  }
}
.measure-bar {
  position: absolute;
  display: flex;
  z-index: $zIndex;
  left: #{$left + $width + 20}px;
  top: #{$top}px;
  border-radius: $borderRadius;
  border: 1px solid $textColor;
  background-color: $bgColor;

  .measure-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $textColor;
    font-size: $fontSize;
    padding: $smPadding $middlePadding;
    cursor: pointer;
    &:not(:last-child) {
      border-right: 1px solid $textColor;
    }
  }
}
